.about-section {
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-image img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  
  .about-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .about-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
  }
  