/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 1rem;
    color: #fff;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li {
    padding: 0.5rem 1rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-cart {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  